.presentacion-3{
    max-width: 100vw;
    /* margin: 0.5rem auto 1.5rem auto; */
    background-image: repeating-linear-gradient(-44deg,
    transparent, transparent 35px,
     rgb(255, 255, 255) 35px,
      rgb(255, 255, 255) 70px);
    /* padding:0.5rem; */
    perspective: 1000px; 
    height: 100vh;
}
  

/*inicio slider*/

.mySlides {

display: none;
}
.img-slide {
    vertical-align: middle;
    height: 100vh;
    width:100%;
    object-fit: cover;
}
  
/* Slideshow container */
.slideshow-container {
max-width: 100%;
position: relative;
margin: auto;

}
  
.slideshow-container:hover{
outline: solid 0.6rem white;
transition: 1s;
}

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    /* bottom: 8px; */
    /* width: 100%; */
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    background:linear-gradient(217deg, rgba(255,0,0,.4), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.4), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.4), rgba(0,0,255,0) 70.71%); ;
    color: #ffffff;
    /* font-size: 12px; */
    padding: 8px 4rem;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-shadow:0 0 0.5rem black;
  }
  .numbertext h1{
    margin: 0 auto;
    height: auto;
    padding: 4rem;
    width: 100%;
    font-size: 8.5rem;
    display: block;
    background:linear-gradient(60deg,white 45%,black 45%);
    mix-blend-mode: multiply;
    animation: texto-slide-todown 2s forwards ease-in-out;

  }

  @keyframes texto-slide-todown{
    0%{
      transform: translateY(0rem);

    }
    100%{
      transform: translateY(1.5rem);

    }
  }


  .numbertext p{
    background:radial-gradient(transparent, black);
    padding: 6.5rem 4rem;
    text-shadow:0 0 0.5rem #ffffff;
    font-size: 2rem;
    animation: texto-slide-toup 2s forwards ease-in-out;

  }

  @keyframes texto-slide-toup{
    0%{
      transform: translateY(0rem);

    }
    100%{
      transform: translateY(-1.5rem);

    }
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  /* @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 1.3rem}
  } */
  
  @media (min-width:100px) and (max-width:700px){
    .prev, .next,.text {font-size: 1.5rem}

    .numbertext {
      background:linear-gradient(217deg, rgba(255,0,0,.4), rgba(255,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(0,255,0,.4), rgba(0,255,0,0) 70.71%),
      linear-gradient(336deg, rgba(0,0,255,.4), rgba(0,0,255,0) 70.71%); ;
      color: #ffffff;
      /* font-size: 12px; */
      padding: 8px 2.5rem;
      position: absolute;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      text-shadow:0 0 0.5rem black;
    }

.numbertext h1{
    margin: 0 auto;
    height: auto;
    padding: 4rem 2rem;
    width: 100%;
    font-size: 2.5rem;
    display: block;
    background:linear-gradient(60deg,white 45%,black 45%);
    mix-blend-mode: multiply;
    animation: texto-slide-todown 2s forwards ease-in-out;

  }


  .numbertext p{
    background:radial-gradient(transparent, black);
    padding: 3.5rem 3rem;
    text-shadow:0 0 0.5rem #ffffff;
    font-size: 1.2rem;
    animation: texto-slide-toup 2s forwards ease-in-out;

  }
  }


  @media (min-width:701px) and (max-width:1100px){

    .prev, .next,.text {font-size: 1.5rem}

    .numbertext {
      background:linear-gradient(217deg, rgba(255,0,0,.4), rgba(255,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(0,255,0,.4), rgba(0,255,0,0) 70.71%),
      linear-gradient(336deg, rgba(0,0,255,.4), rgba(0,0,255,0) 70.71%); ;
      color: #ffffff;
      /* font-size: 12px; */
      padding: 8px 2.5rem;
      position: absolute;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      text-shadow:0 0 0.5rem black;
    }

.numbertext h1{
    margin: 0 auto;
    height: auto;
    padding: 3rem 2rem;
    width: 100%;
    font-size: 4.5rem;
    display: block;
    background:linear-gradient(60deg,white 45%,black 45%);
    mix-blend-mode: multiply;
    animation: texto-slide-todown 2s forwards ease-in-out;

  }


  .numbertext p{
    background:radial-gradient(transparent, black);
    padding: 4.5rem 3rem;
    text-shadow:0 0 0.5rem #ffffff;
    font-size: 1.9rem;
    animation: texto-slide-toup 2s forwards ease-in-out;

  }

  }


  /* fin slider*/
  
  
  