@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@300&display=swap');
@import url('/Portafolio/css/header.css');
@import url('/Portafolio/css/etc.css');
@import url('/Portafolio/css/presentacion-1.css');
@import url('/Portafolio/css/presentacion-2.css');
@import url('/Portafolio/css/presentacion-3.css');
@import url('/Portafolio/css/calculator.css');
@import url('/Portafolio/css/gallery.css');
@import url('/Portafolio/css/list.css');
@import url('/Portafolio/css/3d.css');
@import url('/Portafolio/css/ringfire.css');
@import url('/Portafolio/css/rubik.css');
@import url('/Portafolio/css/loading-conic.css');
@import url('/Portafolio/css/form.css');
@import url('/Portafolio/css/3dbackground.css');
@import url('/Portafolio/css/monitor.css');
@import url('/Portafolio/css/animar.css');
@import url('/Portafolio/css/drop.css');
@import url('/Portafolio/css/presentacion-4.css');


*{
    margin: 0; 
    padding: 0;
    font-family: 'Piazzolla', 'Roboto';
    user-select: none;
    box-sizing: border-box;
}
body{
    padding: 0 0 0 0 ;
    margin: 0 0 0 0;
    background: linear-gradient(0deg,rgba(255, 0, 0, 0.3),rgba(0, 119, 255, 0.5),rgba(0, 119, 255, 0.5),rgba(255, 0, 0, 0.3));
    background-size: 300% 300%;
    animation: backgroundAnimate 10s linear infinite;
    transition: background-color .5s;
    box-sizing: border-box;
}




@keyframes backgroundAnimate {
    0%{background-position: 0 0;}
    50%{background-position: 0 100%;}
    100%{background-position: 0 0;}
}
hr{
  border: solid 0.01rem #0011ff69;
}



/*DARK MODE INICIO*/

body.dark{
  padding: 0 0 0 0 ;
    margin: 0 0 0 0;
    background: linear-gradient(0deg,rgba(83, 5, 2, 0.7),rgba(8, 47, 63, 0.808),rgba(13, 95, 102, 0.7),rgba(83, 5, 2, 0.7));
    background-size: 300% 300%;
    animation: backgroundAnimate 10s linear infinite;
    transition: background-color .5s;
    box-sizing: border-box;
}

.switch-mode{

  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.darkModeSwitch{
  
  background: #fdd384;
  display:flex;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-between;
}

.darkModeSwitch span{
  width:30px;
  height:30px;
  line-height:30px;
  display:block;
  color:#fff;
  background: none;
}

.darkModeSwitch::after{
  display:block;
  background: #f5f9ff;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top:0;
  left:0;
  right:unset;
  border-radius: 3rem;
  transition: all .5s ease;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
  content: "";
}

.darkModeSwitch.active{
  background: #1b5fa0;
}
.darkModeSwitch.active::after{
  left:unset;
  right:0;
}

ion-icon{
  font-size: 1.4rem;
  padding-top: 0.2rem;
}
.icon-grande{
  font-size: 2rem;
  padding-top: 0.5rem;
}

/*DARK MODE FINAL*/


.inferior{
  width: 100%;
  height: 10vh;
  background: rgb(205, 255, 255);
  text-align: center;
  outline: solid 0.5rem rgba(36, 141, 160, 0.5);
}




.footer{
  position: fixed;
  border-top: solid 1px black;
  /* padding-top: 1rem; */
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
  /* height: 5vh; */
  background: rgba(255, 255, 255, 0.473);
  vertical-align: center;
}

.footer-marquee{
  width: 100%;
  /* height: 5vh; */
  background: rgba(255, 255, 255, 0.473);
}





