<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>3D</title>
</head>

<body>


    <div class="container-3d">
        <h1 class="glitch1">La Práctica hace al Maestro</h1>
        <h1 class="glitch1">La Práctica hace al Maestro</h1>
        <h1 class="glitch1">La Práctica hace al Maestro</h1>
        <div class="wrapper-3d">
            <div class="one center">
                <h1>Portafolio en 3D</h1>
                <p>Just why I can</p>
            </div>
            <div class="two center">
                <h1>Cubo Rubik</h1>
                <div class="container-rubik">
                <div class="cubo">
                    <div class="cara" id="uno">
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                    </div>
                    <div class="cara" id="dos">
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                    </div>
                    <div class="cara" id="tres">
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                    </div>
                    <div class="cara" id="cuatro">
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                    </div>
                    <div class="cara" id="cinco">
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                    </div>
                    <div class="cara" id="seis">
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                    </div>
                </div>
            </div></div>
            <div class="three center"><iframe class="port" src="/index.html"></iframe></div>
            <div class="four center">
                <h1>Animación de Carga</h1>
                <div class="container-conic-loader">
                    <div class="conic-loader">
                    </div>
                </div>

            </div>
            <div class="five center"><a href="/index.html">Volver al Inicio</a></div>
            <!-- <div class="six center">
                <h1>Six</h1>
                <p>six</p>
            </div> -->
            <!-- <div class="seven center"><h1>Seven</h1></div> -->

        </div>
    </div>
   
    <footer class="footer">
        
        <marquee class="marquee">
            <p class="p-footer">Hecho con &#x1F497 por @Francisco Guerra - Hecho con &#x1F497 por @Francisco Guerra - Hecho con
                &#x1F497 por @Francisco Guerra</p>
        </marquee>
    
</footer>

</body>

</html>