<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Portafolio/css/style.css">
    <link rel="shortcut icon" href="/Portafolio/img/favicon.svg" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>3D</title>
</head>

<body>
    <div id="mySidenav" class="sidenav">

        <div class="switch-cross">
            <div class="switch-mode">

                <button class="darkModeSwitch" id="switch">
                    <span>
                        <ion-icon name="moon-outline"></ion-icon>
                    </span>
                    <span>
                        <ion-icon name="sunny-outline"></ion-icon>
                    </span>

            </div>
            <div class="container-cross">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
                    <ion-icon name="close" class="icon-grande"></ion-icon>
                </a>
            </div>



        </div>


        <script src="/Portafolio/js/switchMode.js"></script>

        <a href="/Portafolio/index.html">Sobre Mi</a>
        <a href="/Portafolio/layout/calculator.html">Calculadora</a>
        <a href="/Portafolio/layout/gallery.html">Galeria</a>
        <a href="/Portafolio/layout/listado.html">Listado</a>
        <a href="/Portafolio/layout/3d.html">3D(only desktop) </a>
        <a href="/Portafolio/layout/3dbackground.html">No hay vuelta atras</a>
        <a href="/Portafolio/layout/formulario.html">Contacto</a>


    </div>


    <div id="main">
        <span class="header" onclick="openNav()">
            <ion-icon name="menu" class="icon-grande"></ion-icon>
        </span>
    </div>

    <script type="text/javascript" src="/Portafolio/js/sidebar.js"></script>

    <div class="container-3d animado-inicio">

        <div class="wrapper-3d ">
            <div class="one center">
                <h1 class="glitch1" >Portafolio </br> en 3D</h1>
                <h1 class="glitch1" >Portafolio</br> en 3D</h1>
                <h1 class="glitch1" >Portafolio </br>en 3D</h1>
                <!-- <p>Just why I can</p> -->
            </div>
            <div class="two center">
                <h1>Cubo Rubik</h1>
                <div class="container-rubik">
                <div class="cubo">
                    <div class="cara" id="uno">
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                    </div>
                    <div class="cara" id="dos">
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                    </div>
                    <div class="cara" id="tres">
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                    </div>
                    <div class="cara" id="cuatro">
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                    </div>
                    <div class="cara" id="cinco">
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                    </div>
                    <div class="cara" id="seis">
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                        <div class="pieza"></div>
                    </div>
                </div>
            </div></div>
            <div class="three center"><iframe class="port" src="/Portafolio/index.html"></iframe></div>
            <div class="four center">
                <h1>Animación <br>de Carga</h1>
                <div class="container-conic-loader">
                    <div class="conic-loader">
                    </div>
                </div>

            </div>
            <div class="five center"><a href="/Portafolio/index.html">Volver al Inicio</a></div>
            <!-- <div class="six center">
                <h1>Six</h1>
                <p>six</p>
            </div> -->
            <!-- <div class="seven center"><h1>Seven</h1></div> -->

        </div>
    </div>
   
    <footer class="footer">
        
        <marquee class="marquee">
            <p class="p-footer">Hecho con &#x1F497 por @Francisco Guerra - Hecho con &#x1F497 por @Francisco Guerra - Hecho con
                &#x1F497 por @Francisco Guerra</p>
        </marquee>
    
</footer>

</body>

</html>