<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Portafolio/css/style.css">
    <title>3D Background Animate</title>
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <!-- <div class="switch-mode">

            <button class="darkModeSwitch" id="switch">
                <span>
                    <ion-icon name="sunny-outline"></ion-icon>
                </span>
                <span>
                    <ion-icon name="moon-outline"></ion-icon>
                </span>
        </div>
         -->

        <a href="/Portafolio/index.html">Sobre Mi</a>
        <a href="/Portafolio/layout/calculator.html">Calculadora</a>
        <a href="/Portafolio/layout/gallery.html">Galeria</a>
        <a href="/Portafolio/layout/listado.html">Listado</a>
        <a href="/Portafolio/layout/3d.html">3D(only desktop) </a>
        <a href="/Portafolio/layout/3dbackground.html">No hay vuelta atras</a>
        <a href="/Portafolio/layout/formulario.html">Contacto</a>

        
    </div>


    <div id="main">
        <span class="header" onclick="openNav()">&#9776; menu</span>
    </div>

    <script type="text/javascript" src="/Portafolio/js/sidebar.js"></script>




    


    <section class="section-pattern  animado-inicio">

        <div class="inner-float  animado-inicio">
            <div class="ddb">
                <div class="drop-glass-3d">
                    <div id="foto1">
                        
                    </div>
                </div>

  

                <div class="container-glitch13d">
                    <h1 class="glitch2">FRANCISCO</br> GUERRA</h1>
                    <h1 class="glitch2">FRANCISCO</br> GUERRA</h1>
                    <h1 class="glitch2">FRANCISCO</br> GUERRA</h1>
                </div>
            </div>



        </div>
        </div>
        </div>


        <div class="pattern">
            <div class="face face1"></div>
            <div class="face face2"></div>
        </div>
    </section>

    <footer class="footer">

        <marquee class="footer-marquee">
            <p class="p-footer">Hecho con &#x1F497 por @Francisco Guerra - Hecho con &#x1F497 por @Francisco Guerra - Hecho con &#x1F497 por @Francisco Guerra - Hecho con &#x1F497 por @Francisco Guerra -
                Hecho con
                &#x1F497 por @Francisco Guerra</p>
        </marquee>

    </footer>
</body>

</html>