<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Portafolio/css/style.css">
    <title>Calculator</title>
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/Portafolio/index.html">Sobre Mi</a>
        <a href="/Portafolio/layout/calculator.html">Calculadora</a>
        <a href="/Portafolio/layout/gallery.html">Galeria</a>
        <a href="/Portafolio/layout/listado.html">Listado</a>
        <a href="/Portafolio/layout/3d.html">3D(only desktop) </a>
        <a href="/Portafolio/layout/formulario.html">Contacto</a>

    </div>
    <div id="main">
        <span class="header" onclick="openNav()">&#9776; menu</span>
    </div>
    <script src="/Portafolio/js/sidebar.js"></script>
    <!-- <section class="v"> -->
        <div class="container-c">
            <div class="card">
                <h1  class="h1-card">La Historia de la Calculadora</h1>
                <p class="parrafo"  style="initial-letter: capitalize;">
                    En 1623, el alemán Wilhelm Schickard fue quien creó el primer dispositivo capaz de realizar operaciones aritméticas.</br>
                    Esta máquina automática era un aparato grande lleno de palancas que podía sumar y restar números de hasta seis dígitos.
                    El 'reloj calculador' como se le conocía puede ser considerado la primera calculadora mecánica de nuestra historia. Sin embargo
                    no se tuvo constancia de ella hasta tres siglos después, en 1957, cuando el historiador Franz Hammer descubrió unas cartas
                    que Schickard escribió a su buen amigo Johannes Kepler en las que le explicaba el mecanismo del funcionamiento de este aparato 
                    y adjuntaba bocetos de como era.</br>
                    Más tarde, en 1642 en Ruan, una ciudad del noroeste de Francia, Blaise Pascal se interesó por diseñar y construir una máquina de sumar a la que bautizó 'Pascalina'
                    y con la que se podia realizar las cuatro operaciones matemáticas básicas (sumar, restar, multiplicar y dividir).
                    La 'Pascalina' se utilizó tal y como su creador la había presentado hasta 1902 cuando James L.Dalton cambió las palancas que 
                    la componían por botones, mejorando su diseño y haciéndola más funcional. De esta primera calculadora se conservan viejos ejemplares que han influido en las posteriores 
                    calculadoras mecánicas.</br>

                    Ninguna calculadora ssustituyyó a la 'Pascalina' (que se tenga constancia) hasta mediados del siglo XX cuando en Austria, Curt Herzstark fabrico la calculadora mecánica compacta,
                    cabía en una mano y esa portabilidad ayudó a aumentar sus ventas, pese a su elevado precio. Al igual que su precursora, con esta máquina se podía sumar, restar, multiplicar y dividir.</br>

                    A mediados de los 50, IBM presentó una calculadora de considerables dimensiones (¡con el tamaño de un escritorio!) basada en transistores. A finales de esta década, IBM y Casio lanzaron sus primeras calculadoras comerciales, la IBM 608 y la 14-A, respectivamente.</br>

                    A pesar de ser coetáneas existían dos diferencias entre ellas, ya que solo Casio lanzó un modelo totalmente compacto y eléctrico (basada en un relé) que iba integrada dentro de un escritorio. Por su parte, la de IBM era electrónica (basada en una placa lógica) y había que almacenarla en distintas salas y su precio era bastante elevado, unos 80.000 dólares. </br>

                    La primera calculadora totalmente electrónica fue hecha en 1961 por la compañia británica Bell Punch, llamada 'Sumlock Comptometer ANITA'. </br>

                    En 1970 Sanyo, Canon y Sharp lanzaron al mercado calculadoras portátiles con pilas (Sanyo ICC-0081, La Canon Pocketronic y la Sharp QT.8B) que se vendieron por todo el mundo con muchísima rapidez. </br>

                    Tan solo un año después se desarrolló la primera 'calculadora en un chip' con el nombre de MK6010 de Mostek. En ese mismo año, Texas Instruments lanzó una nueva calculadora que se convirtió en el modelo para las calculadoras alrededor del mundo. Eran muy caras pero gracias a los avances tecnológicos en unos pocos años estuvieron al alcance del bolsillo de muchos. </br>

                </p>
                <h1 class="h1-card">La Calculadora Científica</h1>
                <p class="parrafo">
                    La primera calculadora científica fue lanzada sólo dos años después, en 1973, por Texas Instruments. La SR-10 costaba unos 150 dólares y ya incluía un botón para 'p' (pi). Con el paso de los años fue completándose con funciones logarítmicas o trigonometría. </br>

                    En 1980 aparecieron las primeras calculadoras financieras y fue en ese emomento cuado las compañias centraron sus esfuerzos en su desarrolo para mejorarlas, iniciándose una carrera por sacar al mercado la mejor calculadora. Este hecho ha permitido que podamos disfrutar de ellas en casi cualquier dispositivo electrónico, desde un reloj hasta un teléfono móvil.</br>

                    A finales del siglo XX, gracias a tecnologías como la del Sensor CMOS(sensor que detecta la luz) y de paneles solares, salieron al mercado calculadoras programables o sin necesidad de pilas. El avance continuo de las tecnologías ha permitido mejorar estos aparatos añadiendo derivadas, integrales, ecuaciones diferenciales y todo tipo de operaciones, llevando las matemáticas a nuestros bolsillos y haciendo nuestras vidas más fáciles.
                </p>
            </div>
            <div class="container-calculator">
                <p>made in chile</p>
                <div id="display" class="display"></div>
                <div class="buttons">
                    <div class="button"><p class="p-button">C</p></div>
                    <div class="button"><p class="p-button">/</p></div>
                    <div class="button"><p class="p-button">*</p></div>
                    <div class="button"><p class="p-button">&larr;</p></div>
                    <div class="button"><p class="p-button">7</p></div>
                    <div class="button"><p class="p-button">8</p></div>
                    <div class="button"><p class="p-button">9</p></div>
                    <div class="button"><p class="p-button">-</p></div>
                    <div class="button"><p class="p-button">4</p></div>
                    <div class="button"><p class="p-button">5</p></div>
                    <div class="button"><p class="p-button">6</p></div>
                    <div class="button"><p class="p-button">+</p></div>
                    <div class="button"><p class="p-button">1</p></div>
                    <div class="button"><p class="p-button">2</p></div>
                    <div class="button"><p class="p-button">3</p></div>
                    <div class="button"><p class="p-button">.</p></div>
                    <div class="button"><p class="p-button">(</p></div>
                    <div class="button"><p class="p-button">0</p></div>
                    <div class="button"><p class="p-button">)</p></div>
                    <div id="equal" class="button"><p class="p-button">=</p></div>
                </div>
                <p>Francisco Guerra's Calculator</p>
            </div>

        </div>
        </div>
    <!-- </section> -->
    <script src="/Portafolio/js/calculator.js"></script>

    <footer class="footer">
        <marquee class="marquee">
            <p class="p-footer">Hecho con &#x1F497 por @Francisco Guerra - Hecho con &#x1F497 por @Francisco Guerra - Hecho con
                &#x1F497 por @Francisco Guerra</p>
        </marquee>
</footer>
</body>

</html>