<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Portafolio/css/style.css">
    <link rel="shortcut icon" href="/Portafolio/img/favicon.svg" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Formulario</title>
</head>

<body>
    <div id="mySidenav" class="sidenav">

        <div class="switch-cross">
            <div class="switch-mode">

                <button class="darkModeSwitch" id="switch">
                    <span>
                        <ion-icon name="moon-outline"></ion-icon>
                    </span>
                    <span>
                        <ion-icon name="sunny-outline"></ion-icon>
                    </span>

            </div>
            <div class="container-cross">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
                    <ion-icon name="close" class="icon-grande"></ion-icon>
                </a>
            </div>



        </div>


        <script src="/Portafolio/js/switchMode.js"></script>

        <a href="/Portafolio/index.html">Sobre Mi</a>
        <a href="/Portafolio/layout/calculator.html">Calculadora</a>
        <a href="/Portafolio/layout/gallery.html">Galeria</a>
        <a href="/Portafolio/layout/listado.html">Listado</a>
        <a href="/Portafolio/layout/3d.html">3D(only desktop) </a>
        <a href="/Portafolio/layout/3dbackground.html">No hay vuelta atras</a>
        <a href="/Portafolio/layout/formulario.html">Contacto</a>


    </div>


    <div id="main">
        <span class="header" onclick="openNav()">
            <ion-icon name="menu" class="icon-grande"></ion-icon>
        </span>
    </div>

    <script type="text/javascript" src="/Portafolio/js/sidebar.js"></script>




    <div class="container-form animado-inicio">
        <div class="form">

            <form action="" method="POST" id="form">
                <h1>Contacto</h1>

                <section>
                    <label for="fname">
                        <h3>Ingrese su Nombre</h3>
                    </label>
                    <input type="text" id="fname" name="fname" placeholder="Su Nombre..." required>
                </section>
                <section>
                    <label for="lname">
                        <h3>Ingrese su Apellido</h3>
                    </label>
                    <input type="text" id="lname" name="lname" placeholder="Su Apellido..." required>
                </section>

                <section class="textSection">
                    <label>
                        <h3> Ingrese Motivo de Contacto</h3>
                    </label>
                    <textarea name="textArea" id="textArea" ></textarea>
                </section>

                <section >
                    <input type="submit" id="submit" name="submit" value="Enviar Formulario">
                </section>


                <a href="mailto:franciscog941@gmail.com" id="sendid">sendid</a>
                <script src="/Portafolio/js/form.js"></script>

            </form>
        </div>
    </div>

    


    <footer class="footer">

        <marquee class="footer-marquee">
            <p class="p-footer">Hecho con &#x1F497 por @Francisco Guerra - Hecho con &#x1F497 por @Francisco Guerra - Hecho con &#x1F497 por @Francisco Guerra - Hecho con &#x1F497 por @Francisco Guerra -
                Hecho con
                &#x1F497 por @Francisco Guerra</p>
        </marquee>

    </footer>


</body>

</html>