<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Portafolio/css/style.css">
    <link rel="shortcut icon" href="/Portafolio/img/favicon.svg" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Document</title>
</head>
<body>
  <div id="mySidenav" class="sidenav">

    <div class="switch-cross">
        <div class="switch-mode">

            <button class="darkModeSwitch" id="switch">
                <span>
                    <ion-icon name="moon-outline"></ion-icon>
                </span>
                <span>
                    <ion-icon name="sunny-outline"></ion-icon>
                </span>

        </div>
        <div class="container-cross">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
                <ion-icon name="close" class="icon-grande"></ion-icon>
            </a>
        </div>



    </div>


    <script src="/Portafolio/js/switchMode.js"></script>

    <ul>
        <li><a href="/Portafolio/index.html">Sobre Mi</a></li>
        <li><a href="/Portafolio/layout/calculator.html">Calculadora</a></li>
        <li><a href="/Portafolio/layout/gallery.html">Galeria</a></li>
        <li><a href="/Portafolio/layout/listado.html">Listado</a></li>
        <li><a href="/Portafolio/layout/3d.html">3D(only desktop) </a></li>
        <li><a href="/Portafolio/layout/3dbackground.html">No hay vuelta atras</a></li>
        <li><a href="/Portafolio/layout/formulario.html">Contacto</a></li>
    </ul>


</div>


<div id="main">
    <span class="header" onclick="openNav()">
        <ion-icon name="menu" class="icon-grande"></ion-icon>
    </span>
</div>

<script type="text/javascript" src="/Portafolio/js/sidebar.js"></script>

    <div class="main-gallery animado-inicio">

        <h1>Francisco Guerra</h1>
        <hr>
        
        <h2>Galeria Filtrable</h2>
        
        <div id="myBtnContainer">
          <button class="btn active" onclick="filterSelection('all')">All</button>
          <button class="btn" onclick="filterSelection('cars')"><ion-icon name="car-outline"></ion-icon></button>
          <button class="btn" onclick="filterSelection('people')"><ion-icon name="accessibility-outline"></ion-icon></button>
          <button class="btn" onclick="filterSelection('mecanic')"> <ion-icon name="build-outline"></ion-icon></button>
        </div>
        
        <!-- Portfolio Gallery Grid -->
        <div class="row">
          <div class="column cars">
            <div class="content">
              <img src="/Portafolio/img/auto1.jpg" alt="cars" >
              <h4>Automovil 1</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column cars">
            <div class="content">
            <img src="/Portafolio/img/auto2.jpg" alt="cars" >
              <h4>Automovil 2</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column cars">
            <div class="content">
            <img src="/Portafolio/img/auto3.jpg" alt="cars" >
              <h4>Automovil 3</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          
          <div class="column people">
            <div class="content">
              <img src="/Portafolio/img/persona1.jpg" alt="People" >
              <h4>Persona 1</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column people">
            <div class="content">
            <img src="/Portafolio/img/persona2.jpg" alt="People" >
              <h4>Persona 2</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column people">
            <div class="content">
            <img src="/Portafolio/img/persona3.jpg" alt="People" >
              <h4>Persona 3</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
        
          <div class="column people">
            <div class="content">
              <img src="/Portafolio/img/persona4.jpg" alt="People" >
              <h4>Persona 4</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column people">
            <div class="content">
            <img src="/Portafolio/img/persona5.jpg" alt="People" >
              <h4>Persona 5</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column mecanic">
            <div class="content">
            <img src="/Portafolio/img/repuesto1.jpg" alt="Mechanic" >
              <h4>Repuestos</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column mecanic">
            <div class="content">
            <img src="/Portafolio/img/repuesto2.jpg" alt="Mechanic" >
              <h4>Repuestos</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column mecanic">
            <div class="content">
            <img src="/Portafolio/img/repuesto3.jpg" alt="Car" >
              <h4>Repuestos</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
        <!-- END GRID -->
        </div>
        
        <!-- END MAIN -->
        </div>

    <script src="/Portafolio/js/gallery.js"></script>
    <footer class="footer">

      <marquee class="footer-marquee">
          <p class="p-footer">Hecho con &#x1F497 por @Francisco Guerra - Hecho con &#x1F497 por @Francisco Guerra - Hecho con &#x1F497 por @Francisco Guerra - Hecho con &#x1F497 por @Francisco Guerra -
              Hecho con
              &#x1F497 por @Francisco Guerra</p>
      </marquee>

  </footer>
</body>
</html>