<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Portafolio/css/style.css">
    <title>Document</title>
</head>
<body>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/Portafolio/index.html">Sobre Mi</a>
    <a href="/Portafolio/layout/calculator.html">Calculadora</a>
    <a href="/Portafolio/layout/gallery.html">Galeria</a>
    <a href="/Portafolio/layout/listado.html">Listado</a>
    <a href="/Portafolio/layout/3d.html">3D(only desktop) </a>
    <a href="/Portafolio/layout/3dbackground.html">No hay vuelta atras</a>
    <a href="/Portafolio/layout/formulario.html">Contacto</a>

</div>


    <div id="main">
        <span class="header" onclick="openNav()">&#9776; menu</span>
    </div>
    <script src="/Portafolio/js/sidebar.js"></script>

    <div class="main">

        <h1>Francisco Guerra</h1>
        <hr>
        
        <h2>Galeria Filtrable</h2>
        
        <div id="myBtnContainer">
          <button class="btn active" onclick="filterSelection('all')"> Show all</button>
          <button class="btn" onclick="filterSelection('cars')"> Cars</button>
          <button class="btn" onclick="filterSelection('people')"> People</button>
          <button class="btn" onclick="filterSelection('mecanic')"> Mechanic</button>
        </div>
        
        <!-- Portfolio Gallery Grid -->
        <div class="row">
          <div class="column cars">
            <div class="content">
              <img src="/Portafolio/img/auto1.jpg" alt="cars" style="width:100%">
              <h4>Automovil 1</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column cars">
            <div class="content">
            <img src="/Portafolio/img/auto2.jpg" alt="cars" style="width:100%">
              <h4>Automovil 2</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column cars">
            <div class="content">
            <img src="/Portafolio/img/auto3.jpg" alt="cars" style="width:100%">
              <h4>Automovil 3</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          
          <div class="column people">
            <div class="content">
              <img src="/Portafolio/img/persona1.jpg" alt="People" style="width:100%">
              <h4>Persona 1</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column people">
            <div class="content">
            <img src="/Portafolio/img/persona2.jpg" alt="People" style="width:100%">
              <h4>Persona 2</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column people">
            <div class="content">
            <img src="/Portafolio/img/persona3.jpg" alt="People" style="width:100%">
              <h4>Persona 3</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
        
          <div class="column people">
            <div class="content">
              <img src="/Portafolio/img/persona4.jpg" alt="People" style="width:100%">
              <h4>Persona 4</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column people">
            <div class="content">
            <img src="/Portafolio/img/persona5.jpg" alt="People" style="width:100%">
              <h4>Persona 5</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column mecanic">
            <div class="content">
            <img src="/Portafolio/img/repuesto1.jpg" alt="Mechanic" style="width:100%">
              <h4>Repuestos</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column mecanic">
            <div class="content">
            <img src="/Portafolio/img/repuesto2.jpg" alt="Mechanic" style="width:100%">
              <h4>Repuestos</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
          <div class="column mecanic">
            <div class="content">
            <img src="/Portafolio/img/repuesto3.jpg" alt="Car" style="width:100%">
              <h4>Repuestos</h4>
              <p>Lorem ipsum dolor..</p>
            </div>
          </div>
        <!-- END GRID -->
        </div>
        
        <!-- END MAIN -->
        </div>

    <script src="/Portafolio/js/gallery.js"></script>
    <footer class="footer">
    

      <div>
          <marquee><p>Hecho con &#x1F497 por @Francisco Guerra - Hecho con &#x1F497 por @Francisco Guerra - Hecho con &#x1F497 por @Francisco Guerra</p>

          </marquee>
      </div>
  </footer>
</body>
</html>