<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Portafolio/css/style.css">
    <title>Listado</title>
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/Portafolio/index.html">Sobre Mi</a>
        <a href="/Portafolio/layout/calculator.html">Calculadora</a>
        <a href="/Portafolio/layout/gallery.html">Galeria</a>
        <a href="/Portafolio/layout/listado.html">Listado</a>
        <a href="/Portafolio/layout/3d.html">3D(only desktop) </a>
        <a href="/Portafolio/layout/formulario.html">Contacto</a>

    </div>

    <div id="main">
        <span class="header" onclick="openNav()">&#9776; menu</span>
    </div>
    <script src="/Portafolio/js/sidebar.js"></script>
    <div class="div-listado">
        <div id="myDIV" class="header-listado">
            <h2>Mi Listado</h2>
            <input type="text" id="myInput" placeholder="Tarea....">
            <span onclick="newElement()" class="addBtn">Agregar</span>
        </div>

        <ul id="myUL">
            <li>Pasear al perro</li>
            <li class="checked">Regar el Jardin</li>
            <li>Estudiar</li>
            <li>Cocinar</li>
            <li>Lavar</li>
            <li>Ver una Peli</li>
        </ul>
        
        <script src="/Portafolio/js/listado.js"></script>
    </div>

    <footer class="footer">
        

        <div>
            <marquee><p>Hecho con &#x1F497 por @Francisco Guerra - Hecho con &#x1F497 por @Francisco Guerra - Hecho con &#x1F497 por @Francisco Guerra</p>

            </marquee>
        </div>
    </footer>   

</body>

</html>
